[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
django-silk = "*"
django-storages = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
black = "*"
django-silk = "*"
djlint = "*"
flake8 = "*"
isort = "*"
locust = "*"
model-bakery = "*"
pre-commit = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"

[requires]
python_version = "3.11"
