[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
boto3 = "*"
celery = "*"
django = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-redis = "*"
django-silk = "*"
django-storages = "*"
django-templated-mail = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
drf-nested-routers = "*"
environs = {extras = ["django"], version = "*"}
flower = "*"
gunicorn = "*"
pillow = "*"
psycopg = {extras = ["binary"], version = "*"}
redis = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
black = "*"
django-silk = "*"
djlint = "*"
flake8 = "*"
isort = "*"
locust = "*"
model-bakery = "*"
pre-commit = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"

[requires]
python_version = "3.11"
